.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-image: url("/assets/fast-fingers-background.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header_container {
  display: flex;
  flex-direction: column;
}

.header_label {
  font-size: calc(1.375rem + 1.5vw);
  color: #ff5155;
}

.flex_column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-game {
  font-size: 1.4em;
  font-weight: bold;
  color: #ff5155;
}

.flex_row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main_container {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

/* Sets the containers height and width */
.base-timer {
  position: relative;
  height: 200px;
  width: 200px;
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
  fill: none;
  stroke: none;
}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}
.base-timer__label {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  color: white;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}
.base-timer__svg {
  /* Flips the svg and makes the animation to move left-to-right */
  transform: scaleX(-1);
}

.input-name {
  width: 350px;
  height: 50px;
  background-color: #ffff;
  opacity: 0.59;
  border-radius: 5px;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
  margin-top: 40px;
  color: #032228;
  font-size: 1.4em;
  padding: 5px 15px 5px 15px;
}

.select-level {
  width: 380px;
  height: 50px;
  margin-right: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: transparent;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.8);
  border: solid 1px #ffffff;
  color: #97a5a7;
  padding-left: 15px;
  font-size: 1.4em;
  /* appearance: none; */
}

.input-box {
  background-color: hsla(0, 0%, 96.1%, 0.404);
  height: 50px;
  font-size: 1.5rem;
  font-weight: 800;
  border: none;
  border-radius: 5px;
  color: #000;
  text-transform: uppercase;
  max-width: 70%;
  padding-left: 10px;
  text-align: center;
}

.word-label {
  font-size: 2rem;
  color: #fff;
  font-weight: 800;
  letter-spacing: 0.1em;
}
h1 {
  color: #ff5155;
}
h2 {
  color: #ff5155;
}

.color-white {
  color: white;
}
.color-default {
  color: #ff5155;
}

.game-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
  width: 90%;
}
.header_line {
  height: 3px;
  width: 150px;
  background-color: #ff5155;
}
.score_history {
  border: 1px solid #ff5155;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 15px;
  min-height: 300px;
  min-width: 200px;
  border-radius: 5px;
  align-items: center;
  margin-bottom: 30px;
  max-height: 500px;
  overflow-y: scroll;
}
.input_error {
  color: red;
  font-size: 18px;
  padding-top: 5px;
}
.image_width {
  width: 45px;
}
.score-text {
  font-size: 18px;
  font-weight: bold;
}
